<img [src]="imgUrl" />
@if(id==1) {
<div class="content" style="color: red">
  <strong [class.notShow]="!isShow"> {{ productName }} </strong>
</div>
} @else {
<div class="content">
  <strong [class.notShow]="!isShow"> {{ productName }} </strong>
</div>
}
<div>
  @for (author of authors; track author) {
  <span>{{ author }}</span>
  @if (!$last) {
  <span>、</span>
  } }
</div>
<div class="company">
  <span>{{ company }}</span>
  <span>{{ price | currency }}</span>
</div>
<div class="button">
  <button type="button" (click)="view.emit()">明細</button>
  <span>
    <button type="button" class="add_to_the_cart">加入購物車</button>
  </span>
</div>
